@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme inline {
    --color-primary: var(--primary);
    --color-border: var(--border);
    --font-family-sans: var(--nunito-sans);
}

:host {
    --primary: #333333;
    --border: #E5E2DC;
    --nunito-sans: 'Nunito Sans';
    all: initial;
}

@layer base {
    * {
        @apply border-border border-solid;
        @apply text-primary;
        @apply font-sans;
    }
}